#header {
    position: fixed;
    color: var(--foreground);
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px clamp(20px, 6vw, 120px);
    background-color: #181a1b2a;
    backdrop-filter: blur(15px);
    z-index: 1000;
}

/* Logo */
.logo {
    font-weight: bold;
    font-size: 20px;
}

/* Menu */
.headerMenuItemWrapper {
    display: flex;
    list-style: none;
    gap: 20px;
    transition: 0.4s ease;
}

.headerMenuItem {
    padding: 10px 18px;
    border: 1px solid #181A1B;
    background-color: #181a1b8b;
    backdrop-filter: blur(15px);
    border-radius: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.headerMenuItem:hover {
    border: 1px solid white;
    transform: translateY(-2px);
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  color: var(--foreground); /* important */
}


.hamburger span {
  width: 28px;
  height: 3px;
  background-color: currentColor;
  border-radius: 2px;
}


/* Animate hamburger */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

/* =========================
   Mobile Styles
========================= */
@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .headerMenuItemWrapper {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: #181a1be6;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        gap: 15px;

        transform: translateY(-200%);
        opacity: 0;
        pointer-events: none;
    }

    .headerMenuItemWrapper.show {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .headerMenuItem {
        width: 80%;
        text-align: center;
    }
}
