#header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #181a1b2a;
    backdrop-filter: blur(15px);
    z-index: 10;
}
#header .logo{
    padding: 10px;
    margin-left: 10%;
}

#header .headerMenuItemWrapper{
    display: flex;
    list-style: none;
    padding: 10px;
    margin-left: auto;
    margin-right: 8%;
}

#header .headerMenuItemWrapper .headerMenuItem{
    padding: 12px;
    margin: 10px;
    border: 1px solid #181A1B;
    background-color: #181a1b8b;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    transition: 800ms;
}

#header .headerMenuItemWrapper .headerMenuItem:hover{
    border: 1px solid white;
    border-radius: 5px;
}