#Home {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

#Home .bannerArea {
  width: 100%;
  margin-top: 9%;
}

#Home .bannerArea .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bannerTitle {
  background-image: url("https://assets-global.website-files.com/63be5a720d178cb4e8c5b264/63be8f5c508ab6cb396ed253_title-bottom-line.svg");
  background-position: 90% 105%;
  background-repeat: no-repeat;
  background-size: 260px;
  font-size: 98px;
  width: 100%;
  font-weight: 500;
}

.bannerSubTitle {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  color: rgba(128, 128, 128, 0.823);
}

.carousel {
  overflow: hidden;
  width: 100%;
  margin-top: 280px;
  position: relative;
}

.carouselTrack {
  display: flex;
  gap: 50px;
  animation: scroll 30s linear infinite;
  will-change: transform;
}

.carouselItem {
  flex: 0 0 auto;
}

.carouselItem img {
  height: 250px;
  width: auto;
  border-radius: 12px;
  display: block;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.growthMindSetArea {
  position: relative;
  margin-top: 8%;
  background-color: #FF5C4C;
  display: flex;
  justify-content: center;
  padding: 120px 0;
  overflow: hidden;
}

.growthMindSetArea .container {
  margin: 50px 0;
  max-width: 1200px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: center;
}

.growthMindSetArea .growthText {
  width: 100%;
  font-size: 50px;
  font-weight: 600;
}

.growthMindSetArea::before {
  content: "";
  position: absolute;
  top: -55px;
  left: 0;
  width: 100%;
  height: 110px;
  background: #181A1B;
  border-bottom-left-radius: 95% 100%;
  border-bottom-right-radius: 95% 100%;
}

.growthMindSetArea::after {
  content: "";
  position: absolute;
  bottom: -55px;
  left: 0;
  width: 100%;
  height: 110px;
  background: white;
  border-top-left-radius: 95% 100%;
  border-top-right-radius: 95% 100%;
}



.getCourseArea {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* start from left-ish */
  padding: 120px 0;
}

.getCoursesTitle {
  text-align: left; /* align left */
  margin-left: 20%; /* push title slightly to center-left */
  margin-bottom: 40px;
}

.getCoursesTitleText {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}

.heroWrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  display: flex;
  justify-content: flex-start; /* start slightly left */
  padding-left: 20%; /* align cards with title */
  padding-bottom: 20px;
}

.heroWrapper::-webkit-scrollbar {
  display: none;
}

.heroWrapper .container {
  display: flex;
  gap: 30px;
  width: fit-content;
  scroll-snap-type: x mandatory;
}

.courseCard {
  flex: 0 0 auto;
  width: 410px;
  height: 450px;
  background-color: #5e5e5e;
  border-radius: 16px;
  scroll-snap-align: start;
}

.featuredArea{
  margin-top: 50px;
  width: 100%;
}

.featuredArea .container{
  margin: 0 300px;
  display: flex;
  flex-direction: column;
}

.featuredArea .container .ContainerBox{
  width: 100%;
  display: flex;
}

.featuredArea .container .ContainerBox .ContainerBoxInside{
  flex: 1;
  height: 700px;
  font-size: 24px;
  text-align: left;
}

.featuredImg{
  background-color: #F6F6F6;
  align-self: center;
}